<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="PAPERTRAIL" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>${HOST}</syslogHost>
        <port>${PORT}</port>
        <facility>USER</facility>
        <suffixPattern>LogBackClient %logger %msg</suffixPattern>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="PAPERTRAIL" />
    </root>
</configuration>